Auth Key= Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm

Se traen los csv desde la API.

In [3]:
import pandas as pd
import numpy as np
import requests
import json
from pandas import json_normalize

In [4]:
url='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-DEL-INTER-FIJO-51614/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url)

In [5]:
requests.get(url)

In [6]:
#1
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Penet_Inter_PROV_100HOG.csv","wb")
    arch.write(result)
    arch.close()

In [7]:
#2
url4='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-NACIO-DEL-INTER-FIJO/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url4)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Penet_Inter_Nac.csv","wb")
    arch.write(result)
    arch.close()

In [8]:
#3
url2='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-48866/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url2)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Banda_Ancha_Angosta_Nac.csv","wb")
    arch.write(result)
    arch.close()

In [9]:
#4
url3='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/BANDA-ANCHA-Y-BANDA-ANGOS/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url3)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Banda_Ancha_Angosta_Provincia.csv","wb")
    arch.write(result)
    arch.close()

In [10]:
#5
url5='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-A/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url5)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_Tec_Nac.csv","wb")
    arch.write(result)
    arch.close()

Tiene error, desde la pagina no se ve, intente cargarlo desde la API pero devuelve error también.

In [11]:
'''
url6='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-POR/data.json/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url6)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_Tec_Prov.csv","wb")
    arch.write(result)
    arch.close()
    Asi ocurre con otros csv
    '''

'\nTiene error, desde la pagina no se ve, intente cargarlo desde la API pero devuelve error también.\nurl6=\'http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-POR/data.json/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm\'\nresponse=requests.get(url6)\nif response.status_code ==200:\n    result=response.content\n    arch=open("csv_api\\Acces_Inter_Tec_Prov.csv","wb")\n    arch.write(result)\n    arch.close()\n    Asi ocurre con otros csv\n    '

In [12]:
#6
url7='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/VELOC-PROME-DE-BAJAD-51733/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url7)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Vel_MedBajada_Nac.csv","wb")
    arch.write(result)
    arch.close()

In [13]:
#7
url8='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-23248/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url8)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_Prov_Vel.csv","wb")
    arch.write(result)
    arch.close()

In [14]:
#8
url9='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/INGRE-POR-LA-OPERA-DEL/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url9)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Ingresos_Inter_Fijo.csv","wb")
    arch.write(result)
    arch.close()

In [15]:
#9
url10='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-16249/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url10)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_VelBajada_Localidad.csv","wb")
    arch.write(result)
    arch.close()

In [16]:
#10
url10='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/LISTA-DE-LOCAL-CON-CONEC/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url10)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_Localidades.csv","wb")
    arch.write(result)
    arch.close()

In [ ]:
#11
url10='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/CONEC-AL-SERVI-DE-INTER/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url10)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Conectividad_Localidad.csv","wb")
    arch.write(result)
    arch.close()

Se verifican los valores en cada csv

In [17]:
pd.read_csv("csv_api\Penet_Inter_PROV_100HOG.csv")

      Año  Trimestre            Provincia Accesos por cada 100 hogares
0    2022          3         Buenos Aires                        78,11
1    2022          3      Capital Federal                       122,28
2    2022          3            Catamarca                        65,33
3    2022          3                Chaco                        43,86
4    2022          3               Chubut                        84,38
..    ...        ...                  ...                          ...
835  2014          1           Santa Cruz                        28,94
836  2014          1             Santa Fe                        47,85
837  2014          1  Santiago Del Estero                        16,31
838  2014          1     Tierra Del Fuego                        63,97
839  2014          1              Tucumán                        33,42

[840 rows x 4 columns]

In [18]:
pd.read_csv("csv_api\Penet_Inter_Nac.csv")

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,"76,64","23,95",Jul-Sept 2022
1,2022,2,"75,97","23,72",Abr-Jun 2022
2,2022,1,"73,88","23,05",Ene-Mar 2022
3,2021,4,"73,18","22,81",Oct-Dic 2021
4,2021,3,"70,58","21,98",Jul-Sept 2021
5,2021,2,"69,24","21,55",Abr-Jun 2021
6,2021,1,"67,95","21,13",Ene-Mar 2021
7,2020,4,"67,62","21,01",Oct-Dic 2020
8,2020,3,"66,31","20,59",Jul-Sept 2020
9,2020,2,"64,21","19,92",Abr-Jun 2020
10,2020,1,"62,86","19,48",Ene-Mar 2020
11,2019,4,"62,92","19,49",Oct-Dic 2019
12,2019,3,"65,79","20,36",Jul-Sept 2019
13,2019,2,"64,53","19,96",Abr-Jun 2019
14,2019,1,"62,48","19,31",Ene-Mar 2019
15,2018,4,"61,42","18,97",Oct-Dic 2018
16,2018,3,"60,69","18,73",Jul-Sept 2018
17,2018,2,"59,16","18,24",Abr-Jun 2018
18,2018,1,"58,82","18,12",Ene-Mar 2018
19,2017,4,"57,78","17,79",Oct-Dic 2017
20,2017,3,"56,9","17,51",Jul-Sept 2017
21,2017,2,"54,9","16,88",Abr-Jun 2017
22,2017,1,"54,16","16,64",Ene-Mar 2017
23,2016,4,"53,94","16,56",Oct-Dic 2016
24,2016,3,"53,73","16,5",Jul-Sept 2016
25,2016,2,"53,34","16,37",Abr-Jun 2016
26,2016,1,"51,85","15,9",Ene-Mar 2016
27,2015,4,"52,63","16,12",Oct-Dic 2015
28,2015,3,"52,46","16,05",Jul-Sept 2015
29,2015,2,"51,76","15,82",Abr-Jun 2015
30,2015,1,"51,36","15,68",Ene-Mar 2015
31,2014,4,"50,5","15,39",Oct-Dic 2014
32,2014,3,"50,67","15,43",Jul-Sept 2014
33,2014,2,"49,86","15,16",Abr-Jun 2014
34,2014,1,"49,55","15,05",Ene-Mar 2014

In [19]:
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Nac.csv")

     Año  Trimestre Banda ancha fija  Dial up       Total        Periodo
0   2022          3       11.078.691   12.437  11.091.128  Jul-Sept 2022
1   2022          2       10.946.248   12.436  10.958.684   Abr-Jun 2022
2   2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022
3   2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021
4   2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021
5   2021          2        9.852.702   10.382   9.863.084   Abr-Jun 2021
6   2021          1        9.637.956   10.016   9.647.972   Ene-Mar 2021
7   2020          4        9.561.546   10.016   9.571.562   Oct-Dic 2020
8   2020          3        9.346.183   10.016   9.356.199  Jul-Sept 2020
9   2020          2        9.021.040   10.016   9.031.056   Abr-Jun 2020
10  2020          1        8.802.435    9.991   8.812.426   Ene-Mar 2020
11  2019          4        8.783.053   10.128   8.793.181   Oct-Dic 2019
12  2019          3        9.142.891   21.793   9.164.684  Jul-Sept 2019
13  2019          2        8.938.427   21.754   8.960.181   Abr-Jun 2019
14  2019          1        8.626.323   21.812   8.648.135   Ene-Mar 2019
15  2018          4        8.451.841   21.814   8.473.655   Oct-Dic 2018
16  2018          3        8.320.223   26.812   8.347.035  Jul-Sept 2018
17  2018          2        8.083.533   26.911   8.110.444   Abr-Jun 2018
18  2018          1        8.009.981   27.072   8.037.053   Ene-Mar 2018
19  2017          4        7.842.778   27.444   7.870.222   Oct-Dic 2017
20  2017          3        7.696.594   28.349   7.724.943  Jul-Sept 2017
21  2017          2        7.401.134   28.530   7.429.664   Abr-Jun 2017
22  2017          1        7.277.314   28.540   7.305.854   Ene-Mar 2017
23  2016          4        7.223.128   28.545   7.251.673   Oct-Dic 2016
24  2016          3        7.178.340   28.610   7.206.950  Jul-Sept 2016
25  2016          2        7.097.604   32.475   7.130.079   Abr-Jun 2016
26  2016          1        6.874.704   32.652   6.907.356   Ene-Mar 2016
27  2015          4        6.952.289   32.542   6.984.831   Oct-Dic 2015
28  2015          3        6.902.267   32.801   6.935.068  Jul-Sept 2015
29  2015          2        6.783.279   32.909   6.816.188   Abr-Jun 2015
30  2015          1        6.699.714   38.018   6.737.732   Ene-Mar 2015
31  2014          4        6.559.172   39.324   6.598.496   Oct-Dic 2014
32  2014          3        6.559.264   36.007   6.595.271  Jul-Sept 2014
33  2014          2        6.428.329   36.139   6.464.468   Abr-Jun 2014
34  2014          1        6.362.108   36.290   6.398.398   Ene-Mar 2014

In [20]:
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Provincia.csv")

      Año  Trimestre            Provincia Banda ancha fija Dial up      Total
0    2022          3         Buenos Aires        4.715.469   6.199  4.721.668
1    2022          3      Capital Federal        1.545.534   2.145  1.547.679
2    2022          3            Catamarca           70.292       1     70.293
3    2022          3                Chaco          144.141       5    144.146
4    2022          3               Chubut          164.874     904    165.778
..    ...        ...                  ...              ...     ...        ...
835  2014          1           Santa Cruz           26.304     460     26.764
836  2014          1             Santa Fe          506.000     612    506.612
837  2014          1  Santiago Del Estero           37.124       9     37.133
838  2014          1     Tierra Del Fuego           27.272     766     28.038
839  2014          1              Tucumán          129.944      88    130.032

[840 rows x 6 columns]

In [21]:
pd.read_csv("csv_api\Acces_Inter_Tec_Nac.csv")

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022
2,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
3,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
4,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021
5,2021,2,2.018.587,5.641.731,1.472.246,476.968,253.552,9.863.084,Abr-Jun 2021
6,2021,1,2.175.211,5.424.782,1.362.976,434.548,250.455,9.647.972,Ene-Mar 2021
7,2020,4,2.213.949,5.371.824,1.311.199,421.554,253.036,9.571.562,Oct-Dic 2020
8,2020,3,2.263.889,5.259.351,1.170.879,413.259,248.821,9.356.199,Jul-Sept 2020
9,2020,2,2.295.533,5.005.115,1.106.725,376.667,247.016,9.031.056,Abr-Jun 2020
10,2020,1,2.299.457,4.903.674,1.047.817,352.333,209.145,8.812.426,Ene-Mar 2020
11,2019,4,2.414.575,4.883.869,941.295,340.144,213.298,8.793.181,Oct-Dic 2019
12,2019,3,2.909.805,4.800.091,852.221,338.241,264.326,9.164.684,Jul-Sept 2019
13,2019,2,2.990.457,4.635.575,760.794,308.027,265.328,8.960.181,Abr-Jun 2019
14,2019,1,3.132.789,4.435.439,637.099,276.419,166.389,8.648.135,Ene-Mar 2019
15,2018,4,3.329.027,4.313.831,388.013,264.299,178.485,8.473.655,Oct-Dic 2018
16,2018,3,3.521.447,4.238.171,247.366,246.181,93.870,8.347.035,Jul-Sept 2018
17,2018,2,3.557.216,4.038.141,226.285,194.267,94.535,8.110.444,Abr-Jun 2018
18,2018,1,3.574.294,3.981.129,217.460,165.300,98.870,8.037.053,Ene-Mar 2018
19,2017,4,3.584.311,3.818.157,211.425,155.775,100.554,7.870.222,Oct-Dic 2017
20,2017,3,3.622.575,3.670.221,193.964,106.443,131.740,7.724.943,Jul-Sept 2017
21,2017,2,3.723.518,3.383.434,180.777,85.813,56.122,7.429.664,Abr-Jun 2017
22,2017,1,3.708.898,3.276.251,180.146,84.813,55.746,7.305.854,Ene-Mar 2017
23,2016,4,3.722.794,3.210.602,178.070,85.119,55.088,7.251.673,Oct-Dic 2016
24,2016,3,3.776.442,3.124.855,169.898,81.455,54.300,7.206.950,Jul-Sept 2016
25,2016,2,3.782.085,3.035.272,167.788,85.452,59.482,7.130.079,Abr-Jun 2016
26,2016,1,3.792.493,2.806.359,164.371,85.370,58.763,6.907.356,Ene-Mar 2016
27,2015,4,3.803.024,2.898.226,139.187,85.726,58.668,6.984.831,Oct-Dic 2015
28,2015,3,3.788.696,2.840.203,162.663,84.530,58.976,6.935.068,Jul-Sept 2015
29,2015,2,3.767.821,2.756.294,150.839,82.077,59.157,6.816.188,Abr-Jun 2015
30,2015,1,3.756.153,2.668.248,168.188,79.098,66.045,6.737.732,Ene-Mar 2015
31,2014,4,3.764.038,2.536.219,149.682,76.984,71.573,6.598.496,Oct-Dic 2014
32,2014,3,3.714.764,2.569.868,155.494,85.096,70.049,6.595.271,Jul-Sept 2014
33,2014,2,3.708.882,2.461.670,149.363,72.405,72.148,6.464.468,Abr-Jun 2014
34,2014,1,3.697.066,2.407.330,150.323,70.749,72.930,6.398.398,Ene-Mar 2014

In [22]:
pd.read_csv("csv_api\Vel_MedBajada_Nac.csv")

     Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0   2022          3                  62,46  Jul-Sept 2022
1   2022          2                  58,44   Abr-Jun 2022
2   2022          1                  55,11   Ene-Mar 2022
3   2021          4                  52,34   Oct-Dic 2021
4   2021          3                  48,46  Jul-Sept 2021
5   2021          2                  45,63   Abr-Jun 2021
6   2021          1                  43,11   Ene-Mar 2021
7   2020          4                  42,36   Oct-Dic 2020
8   2020          3                  40,67  Jul-Sept 2020
9   2020          2                  38,32   Abr-Jun 2020
10  2020          1                  37,52   Ene-Mar 2020
11  2019          4                  28,26   Oct-Dic 2019
12  2019          3                  24,18  Jul-Sept 2019
13  2019          2                  20,33   Abr-Jun 2019
14  2019          1                  17,38   Ene-Mar 2019
15  2018          4                  15,95   Oct-Dic 2018
16  2018          3                  15,36  Jul-Sept 2018
17  2018          2                  13,85   Abr-Jun 2018
18  2018          1                  13,22   Ene-Mar 2018
19  2017          4                  12,01   Oct-Dic 2017
20  2017          3                   8,34  Jul-Sept 2017
21  2017          2                   7,16   Abr-Jun 2017
22  2017          1                   6,62   Ene-Mar 2017
23  2016          4                   6,34   Oct-Dic 2016
24  2016          3                   5,94  Jul-Sept 2016
25  2016          2                   5,42   Abr-Jun 2016
26  2016          1                   5,08   Ene-Mar 2016
27  2015          4                   4,99   Oct-Dic 2015
28  2015          3                   4,79  Jul-Sept 2015
29  2015          2                   4,55   Abr-Jun 2015
30  2015          1                   4,35   Ene-Mar 2015
31  2014          4                   4,16   Oct-Dic 2014
32  2014          3                   3,87  Jul-Sept 2014
33  2014          2                   3,76   Abr-Jun 2014
34  2014          1                   3,62   Ene-Mar 2014

In [23]:
pd.read_csv("csv_api\Acces_Inter_Prov_Vel.csv")

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29.985,27.709,290.315,297.915,267.044,124.190,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,517.000,5.742,34.371,67.829,51.946,28.692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,71.000,384.000,3.107,5.389,5.099,3.737,50.298,2.208,70.293
3,2022,3,Chaco,461.000,987.000,16.782,18.938,8.049,15.828,79.390,3.711,144.146
4,2022,3,Chubut,109.000,1.444,45.707,30.940,34.682,15.309,17.563,20.024,165.778
...,...,...,...,...,...,...,...,...,...,...,...,...
835,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
836,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
837,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
838,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
839,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [24]:
pd.read_csv("csv_api\Ingresos_Inter_Fijo.csv")

     Año  Trimestre Ingresos (miles de pesos)        Periodo
0   2022          3                67.055.930  Jul-Sept 2022
1   2022          2                60.335.724   Abr-Jun 2022
2   2022          1                55.589.997   Ene-Mar 2022
3   2021          4                45.467.887   Oct-Dic 2021
4   2021          3                42.999.944  Jul-Sept 2021
5   2021          2                38.239.667   Abr-Jun 2021
6   2021          1                36.676.371   Ene-Mar 2021
7   2020          4                33.539.703   Oct-Dic 2020
8   2020          3                31.997.445  Jul-Sept 2020
9   2020          2                32.102.476   Abr-Jun 2020
10  2020          1                29.946.216   Ene-Mar 2020
11  2019          4                24.169.251   Oct-Dic 2019
12  2019          3                21.652.748  Jul-Sept 2019
13  2019          2                20.743.118   Abr-Jun 2019
14  2019          1                20.207.414   Ene-Mar 2019
15  2018          4                16.637.687   Oct-Dic 2018
16  2018          3                15.410.981  Jul-Sept 2018
17  2018          2                14.319.467   Abr-Jun 2018
18  2018          1                13.171.459   Ene-Mar 2018
19  2017          4                11.226.127   Oct-Dic 2017
20  2017          3                10.065.998  Jul-Sept 2017
21  2017          2                 9.678.647   Abr-Jun 2017
22  2017          1                 8.701.201   Ene-Mar 2017
23  2016          4                 7.483.980   Oct-Dic 2016
24  2016          3                 6.912.442  Jul-Sept 2016
25  2016          2                 6.534.241   Abr-Jun 2016
26  2016          1                 5.936.845   Ene-Mar 2016
27  2015          4                 5.376.899   Oct-Dic 2015
28  2015          3                 5.153.739  Jul-Sept 2015
29  2015          2                 4.701.791   Abr-Jun 2015
30  2015          1                 4.876.385   Ene-Mar 2015
31  2014          4                 3.950.441   Oct-Dic 2014
32  2014          3                 3.478.638  Jul-Sept 2014
33  2014          2                 3.270.816   Abr-Jun 2014
34  2014          1                 2.984.054   Ene-Mar 2014

In [25]:
pd.read_csv("csv_api\Acces_Inter_VelBajada_Localidad.csv")

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3093,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,304
3094,TUCUMAN,Trancas,San Pedro de Colalao,90112020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3095,TUCUMAN,Trancas,Villa de Trancas,90112030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3096,TUCUMAN,Yerba Buena,Villa Carmela,90119020,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3097,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,176,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6,556"

In [26]:
pd.read_csv("csv_api\Acces_Inter_Localidades.csv")

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,--,--,--,--,SI,SI,--,--,--
1,BUENOS AIRES,Bahía Blanca,Villa Espora,--,--,--,--,--,--,--,--,--
2,BUENOS AIRES,Balcarce,Balcarce,SI,SI,SI,SI,SI,SI,SI,SI,--
3,BUENOS AIRES,Balcarce,Los Pinos,--,--,--,--,--,--,SI,SI,--
4,BUENOS AIRES,Balcarce,Napaleofú,--,--,--,SI,SI,SI,SI,SI,--
...,...,...,...,...,...,...,...,...,...,...,...,...
4307,CHACO,Quitilipi,Quitilipi,SI,--,--,SI,SI,SI,SI,SI,--
4308,CHACO,Quitilipi,Villa El Palmar,--,--,--,--,SI,--,--,SI,--
4309,CHACO,San Fernando,Barranqueras,SI,SI,--,SI,SI,SI,SI,SI,--
4310,CHACO,San Fernando,Basail,SI,SI,--,--,SI,SI,SI,SI,SI
4311,CHACO,San Fernando,Colonia Baranda,--,--,--,--,SI,SI,--,--,--

In [ ]:
pd.read_csv("csv_api\Conectividad_Localidad.csv")