Auth Key= Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm

Se traen los csv desde la API.

In [1]:
import pandas as pd
import numpy as np
import requests
import json
from pandas import json_normalize

In [86]:
url='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-DEL-INTER-FIJO-51614/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url)

In [87]:
requests.get(url)

In [88]:
#1
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Penet_Inter_PROV_100HOG.csv","wb")
    arch.write(result)
    arch.close()

In [89]:
#2
url4='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-NACIO-DEL-INTER-FIJO/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url4)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Penet_Inter_Nac.csv","wb")
    arch.write(result)
    arch.close()

In [90]:
#3
url2='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-48866/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url2)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Banda_Ancha_Angosta_Nac.csv","wb")
    arch.write(result)
    arch.close()

In [91]:
#4
url3='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/BANDA-ANCHA-Y-BANDA-ANGOS/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url3)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Banda_Ancha_Angosta_Provincia.csv","wb")
    arch.write(result)
    arch.close()

In [92]:
#5
url5='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/TOTAL-NACIO-DE-ACCES-A/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url5)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_Tec_Nac.csv","wb")
    arch.write(result)
    arch.close()

Tiene error, desde la pagina no se ve, intente cargarlo desde la API pero devuelve error también.

In [93]:
'''
url6='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-POR/data.json/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url6)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_Tec_Prov.csv","wb")
    arch.write(result)
    arch.close()
    Asi ocurre con otros csv
    '''

'\nurl6=\'http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-POR/data.json/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm\'\nresponse=requests.get(url6)\nif response.status_code ==200:\n    result=response.content\n    arch=open("csv_api\\Acces_Inter_Tec_Prov.csv","wb")\n    arch.write(result)\n    arch.close()\n    Asi ocurre con otros csv\n    '

In [94]:
#6
url7='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/VELOC-PROME-DE-BAJAD-51733/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url7)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Vel_MedBajada_Nac.csv","wb")
    arch.write(result)
    arch.close()

In [95]:
#7
url8='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-23248/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url8)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_Prov_Vel.csv","wb")
    arch.write(result)
    arch.close()

In [96]:
#8
url9='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/INGRE-POR-LA-OPERA-DEL/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url9)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Ingresos_Inter_Fijo.csv","wb")
    arch.write(result)
    arch.close()

In [97]:
#9
url10='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-16249/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url10)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_VelBajada_Localidad.csv","wb")
    arch.write(result)
    arch.close()

In [98]:
#10
url10='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/LISTA-DE-LOCAL-CON-CONEC/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url10)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Acces_Inter_Localidades.csv","wb")
    arch.write(result)
    arch.close()

In [169]:
#11
url10='http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/CONEC-AL-SERVI-DE-INTER/data.csv/?auth_key=Vvj1xJ4hv6NtIRgLQwzfoMSMogPayC2gfKxCcONm'
response=requests.get(url10)
if response.status_code ==200:
    result=response.content
    arch=open("csv_api\Conectividad_Localidad.csv","wb")
    arch.write(result)
    arch.close()

Se verifican los valores en cada csv

## Los cambios los voy a hacer en SQL
Por ahora los voy marcando y dejando señalados para saber qué cambiar en sql.

In [100]:
#1
pd.read_csv("csv_api\Penet_Inter_PROV_100HOG.csv").head(5)

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78,11
1  2022          3  Capital Federal                       122,28
2  2022          3        Catamarca                        65,33
3  2022          3            Chaco                        43,86
4  2022          3           Chubut                        84,38

In [101]:
pd.read_csv("csv_api\Penet_Inter_PROV_100HOG.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           840 non-null    int64
 1   Trimestre                     840 non-null    int64
 2   Provincia                     840 non-null    object
 3   Accesos por cada 100 hogares  840 non-null    object
dtypes: int64(2), object(2)
memory usage: 26.4+ KB

In [102]:
pd.read_csv("csv_api\Penet_Inter_PROV_100HOG.csv").isna().sum()

Año                             0
Trimestre                       0
Provincia                       0
Accesos por cada 100 hogares    0
dtype: int64

In [103]:
pd.read_csv("csv_api\Penet_Inter_PROV_100HOG.csv").describe()

               Año   Trimestre
count   840.000000  840.000000
mean   2017.885714    2.457143
std       2.528745    1.105009
min    2014.000000    1.000000
25%    2016.000000    1.000000
50%    2018.000000    2.000000
75%    2020.000000    3.000000
max    2022.000000    4.000000

### Hay que cambiar la "," por un "." asi se puede poner en tipo float.

In [104]:
#2
pd.read_csv("csv_api\Penet_Inter_Nac.csv").head(5)

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,3,"76,64","23,95",Jul-Sept 2022
1,2022,2,"75,97","23,72",Abr-Jun 2022
2,2022,1,"73,88","23,05",Ene-Mar 2022
3,2021,4,"73,18","22,81",Oct-Dic 2021
4,2021,3,"70,58","21,98",Jul-Sept 2021

In [105]:
pd.read_csv("csv_api\Penet_Inter_Nac.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           35 non-null     int64
 1   Trimestre                     35 non-null     int64
 2   Accesos por cada 100 hogares  35 non-null     object
 3   Accesos por cada 100 hab      35 non-null     object
 4   Periodo                       35 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

In [106]:
pd.read_csv("csv_api\Penet_Inter_Nac.csv").isna().sum()

Año                             0
Trimestre                       0
Accesos por cada 100 hogares    0
Accesos por cada 100 hab        0
Periodo                         0
dtype: int64

In [107]:
pd.read_csv("csv_api\Penet_Inter_Nac.csv").describe()

               Año  Trimestre
count    35.000000  35.000000
mean   2017.885714   2.457143
std       2.564135   1.120474
min    2014.000000   1.000000
25%    2016.000000   1.500000
50%    2018.000000   2.000000
75%    2020.000000   3.000000
max    2022.000000   4.000000

In [108]:
#3
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Nac.csv").head(5)

    Año  Trimestre Banda ancha fija  Dial up       Total        Periodo
0  2022          3       11.078.691   12.437  11.091.128  Jul-Sept 2022
1  2022          2       10.946.248   12.436  10.958.684   Abr-Jun 2022
2  2022          1       10.611.390   12.619  10.624.009   Ene-Mar 2022
3  2021          4       10.476.933   12.861  10.489.794   Oct-Dic 2021
4  2021          3       10.075.184   10.357  10.085.541  Jul-Sept 2021

In [109]:
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Nac.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               35 non-null     int64
 1   Trimestre         35 non-null     int64
 2   Banda ancha fija  35 non-null     object
 3   Dial up           35 non-null     float64
 4   Total             35 non-null     object
 5   Periodo           35 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 1.8+ KB

In [110]:
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Nac.csv").isna().sum()

Año                 0
Trimestre           0
Banda ancha fija    0
Dial up             0
Total               0
Periodo             0
dtype: int64

In [111]:
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Nac.csv").describe()

               Año  Trimestre    Dial up
count    35.000000  35.000000  35.000000
mean   2017.885714   2.457143  23.383371
std       2.564135   1.120474  10.087397
min    2014.000000   1.000000   9.991000
25%    2016.000000   1.500000  12.436500
50%    2018.000000   2.000000  26.911000
75%    2020.000000   3.000000  32.508500
max    2022.000000   4.000000  39.324000

In [112]:
#4
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Provincia.csv").head(5)

    Año  Trimestre        Provincia Banda ancha fija Dial up      Total
0  2022          3     Buenos Aires        4.715.469   6.199  4.721.668
1  2022          3  Capital Federal        1.545.534   2.145  1.547.679
2  2022          3        Catamarca           70.292       1     70.293
3  2022          3            Chaco          144.141       5    144.146
4  2022          3           Chubut          164.874     904    165.778

In [3]:
type(pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Provincia.csv")['Banda ancha fija'][0])

str

In [113]:
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Provincia.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               840 non-null    int64
 1   Trimestre         840 non-null    int64
 2   Provincia         840 non-null    object
 3   Banda ancha fija  840 non-null    object
 4   Dial up           838 non-null    object
 5   Total             840 non-null    object
dtypes: int64(2), object(4)
memory usage: 39.5+ KB

### Revisar ese valor de nulos

In [114]:
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Provincia.csv").isna().sum()

Año                 0
Trimestre           0
Provincia           0
Banda ancha fija    0
Dial up             2
Total               0
dtype: int64

In [115]:
pd.read_csv("csv_api\Acces_Banda_Ancha_Angosta_Provincia.csv").describe()

               Año   Trimestre
count   840.000000  840.000000
mean   2017.885714    2.457143
std       2.528745    1.105009
min    2014.000000    1.000000
25%    2016.000000    1.000000
50%    2018.000000    2.000000
75%    2020.000000    3.000000
max    2022.000000    4.000000

In [116]:
#5
pd.read_csv("csv_api\Acces_Inter_Tec_Nac.csv").head(5)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,3,1.395.277,6.031.970,2.871.541,557.110,235.230,11.091.128,Jul-Sept 2022
1,2022,2,1.468.333,5.979.214,2.723.285,556.243,231.609,10.958.684,Abr-Jun 2022
2,2022,1,1.533.240,6.073.426,2.219.533,545.814,251.996,10.624.009,Ene-Mar 2022
3,2021,4,1.657.615,5.984.240,2.072.236,523.107,252.596,10.489.794,Oct-Dic 2021
4,2021,3,1.950.631,5.826.257,1.566.048,492.415,250.190,10.085.541,Jul-Sept 2021

In [5]:
pd.read_csv("csv_api\Acces_Inter_Tec_Nac.csv")['Wireless'].mean()

248.28002857142855

In [117]:
pd.read_csv("csv_api\Acces_Inter_Tec_Nac.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           35 non-null     int64
 1   Trimestre     35 non-null     int64
 2   ADSL          35 non-null     object
 3   Cablemodem    35 non-null     object
 4   Fibra óptica  35 non-null     object
 5   Wireless      35 non-null     float64
 6   Otros         35 non-null     float64
 7   Total         35 non-null     object
 8   Periodo       35 non-null     object
dtypes: float64(2), int64(2), object(5)
memory usage: 2.6+ KB

In [118]:
pd.read_csv("csv_api\Acces_Inter_Tec_Nac.csv").isna().sum()

Año             0
Trimestre       0
ADSL            0
Cablemodem      0
Fibra óptica    0
Wireless        0
Otros           0
Total           0
Periodo         0
dtype: int64

In [119]:
pd.read_csv("csv_api\Acces_Inter_Tec_Nac.csv").describe()

               Año  Trimestre    Wireless       Otros
count    35.000000  35.000000   35.000000   35.000000
mean   2017.885714   2.457143  248.280029  147.431086
std       2.564135   1.120474  174.354293   85.868717
min    2014.000000   1.000000   70.749000   54.300000
25%    2016.000000   1.500000   85.107500   62.763500
50%    2018.000000   2.000000  194.267000  100.554000
75%    2020.000000   3.000000  394.963000  247.918500
max    2022.000000   4.000000  557.110000  265.328000

In [120]:
#6
pd.read_csv("csv_api\Vel_MedBajada_Nac.csv").head(5)

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2022          3                  62,46  Jul-Sept 2022
1  2022          2                  58,44   Abr-Jun 2022
2  2022          1                  55,11   Ene-Mar 2022
3  2021          4                  52,34   Oct-Dic 2021
4  2021          3                  48,46  Jul-Sept 2021

In [121]:
pd.read_csv("csv_api\Vel_MedBajada_Nac.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     35 non-null     int64
 1   Trimestre               35 non-null     int64
 2   Mbps (Media de bajada)  35 non-null     object
 3   Trimestre.1             35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [122]:
pd.read_csv("csv_api\Vel_MedBajada_Nac.csv").isna().sum()

Año                       0
Trimestre                 0
Mbps (Media de bajada)    0
Trimestre.1               0
dtype: int64

In [123]:
pd.read_csv("csv_api\Vel_MedBajada_Nac.csv").describe()

               Año  Trimestre
count    35.000000  35.000000
mean   2017.885714   2.457143
std       2.564135   1.120474
min    2014.000000   1.000000
25%    2016.000000   1.500000
50%    2018.000000   2.000000
75%    2020.000000   3.000000
max    2022.000000   4.000000

In [124]:
#7
pd.read_csv("csv_api\Acces_Inter_Prov_Vel.csv").head(5)

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,3,Buenos Aires,29.985,27.709,290.315,297.915,267.044,124.190,3.618.689,65.821,4.721.668
1,2022,3,Capital Federal,517.000,5.742,34.371,67.829,51.946,28.692,1.253.105,105.477,1.547.679
2,2022,3,Catamarca,71.000,384.000,3.107,5.389,5.099,3.737,50.298,2.208,70.293
3,2022,3,Chaco,461.000,987.000,16.782,18.938,8.049,15.828,79.390,3.711,144.146
4,2022,3,Chubut,109.000,1.444,45.707,30.940,34.682,15.309,17.563,20.024,165.778

In [125]:
pd.read_csv("csv_api\Acces_Inter_Prov_Vel.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 840 entries, 0 to 839
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  840 non-null    int64
 1   Trimestre            840 non-null    int64
 2   Provincia            840 non-null    object
 3   HASTA 512 kbps       840 non-null    float64
 4   + 512 Kbps - 1 Mbps  840 non-null    float64
 5   + 1 Mbps - 6 Mbps    840 non-null    object
 6   + 6 Mbps - 10 Mbps   840 non-null    float64
 7   + 10 Mbps - 20 Mbps  840 non-null    float64
 8   + 20 Mbps - 30 Mbps  840 non-null    float64
 9   + 30 Mbps            840 non-null    object
 10  OTROS                834 non-null    float64
 11  Total                840 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 78.9+ KB

In [126]:
pd.read_csv("csv_api\Acces_Inter_Prov_Vel.csv").isna().sum()

Año                    0
Trimestre              0
Provincia              0
HASTA 512 kbps         0
+ 512 Kbps - 1 Mbps    0
+ 1 Mbps - 6 Mbps      0
+ 6 Mbps - 10 Mbps     0
+ 10 Mbps - 20 Mbps    0
+ 20 Mbps - 30 Mbps    0
+ 30 Mbps              0
OTROS                  6
Total                  0
dtype: int64

In [127]:
pd.read_csv("csv_api\Acces_Inter_Prov_Vel.csv").describe()

,Año,Trimestre,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,OTROS
count,840.000000,840.000000,840.000000,840.000000,840.000000,840.000000,840.000000,834.000000
mean,2017.885714,2.457143,126.009998,101.790393,71.417265,79.988627,100.758158,32.937064
std,2.528745,1.105009,187.578607,207.396126,140.324223,170.586599,208.683467,128.937905
min,2014.000000,1.000000,1.007000,0.000000,0.000000,0.000000,0.000000,-1.945000
25%,2016.000000,1.000000,10.000000,3.362500,5.357250,4.872000,2.019000,0.000000
50%,2018.000000,2.000000,50.000000,8.788000,20.157000,14.965500,11.251500,0.000000
75%,2020.000000,3.000000,134.000000,84.340500,62.225500,55.093000,64.286250,7.497750
max,2022.000000,4.000000,998.000000,999.000000,917.000000,978.000000,997.000000,923.000000

In [128]:
#8
pd.read_csv("csv_api\Ingresos_Inter_Fijo.csv").head(5)

    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022
3  2021          4                45.467.887   Oct-Dic 2021
4  2021          3                42.999.944  Jul-Sept 2021

In [2]:
pd.read_csv("csv_api\Ingresos_Inter_Fijo.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        35 non-null     int64
 1   Trimestre                  35 non-null     int64
 2   Ingresos (miles de pesos)  35 non-null     object
 3   Periodo                    35 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [3]:
pd.read_csv("csv_api\Ingresos_Inter_Fijo.csv").isna().sum()

Año                          0
Trimestre                    0
Ingresos (miles de pesos)    0
Periodo                      0
dtype: int64

In [4]:
pd.read_csv("csv_api\Ingresos_Inter_Fijo.csv").describe()

               Año  Trimestre
count    35.000000  35.000000
mean   2017.885714   2.457143
std       2.564135   1.120474
min    2014.000000   1.000000
25%    2016.000000   1.500000
50%    2018.000000   2.000000
75%    2020.000000   3.000000
max    2022.000000   4.000000

In [129]:
#9
pd.read_csv("csv_api\Acces_Inter_VelBajada_Localidad.csv").head(5)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 mbps","0,375 mbps","0,5 mbps","0,512 mbps","0,625 mbps",...,75 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps,100 mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
pd.read_csv("csv_api\Acces_Inter_VelBajada_Localidad.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3098 entries, 0 to 3097
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3098 non-null   object
 1   Partido     3098 non-null   object
 2   Localidad   3098 non-null   object
 3   Link Indec  3098 non-null   object
 4   Otros       956 non-null    object
 5   0,256 mbps  29 non-null     float64
 6   0,375 mbps  1 non-null      float64
 7   0,5 mbps    643 non-null    object
 8   0,512 mbps  524 non-null    float64
 9   0,625 mbps  1 non-null      float64
 10  0,75 mbps   284 non-null    object
 11  1 mbps      931 non-null    object
 12  1,25 mbps   1 non-null      float64
 13  1,5 mbps    16 non-null     object
 14  2 mbps      741 non-null    object
 15  2,2 mbps    1 non-null      float64
 16  2,5 mbps    3 non-null      float64
 17  3 mbps      1388 non-null   object
 18  3,3 mbps    1 non-null      float64
 19  3,5 mbps    373 non-null    object
 20  4 mbps      539 non-null    object
 21  4,5 mbps    1 non-null      float64
 22  5 mbps      1013 non-null   object
 23  6 mbps      1436 non-null   object
 24  6,4 mbps    1 non-null      float64
 25  7 mbps      221 non-null    object
 26  7,5 mbps    4 non-null      float64
 27  8 mbps      616 non-null    object
 28  9 mbps      52 non-null     object
 29  10 mbps     1685 non-null   object
 30  11 mbps     27 non-null     float64
 31  12 mbps     519 non-null    object
 32  13 mbps     15 non-null     float64
 33  14 mbps     20 non-null     float64
 34  15 mbps     1020 non-null   object
 35  16 mbps     18 non-null     object
 36  17 mbps     1 non-null      float64
 37  18 mbps     237 non-null    object
 38  19 mbps     1 non-null      float64
 39  20 mbps     1053 non-null   object
 40  21 mbps     4 non-null      float64
 41  22 mbps     1 non-null      float64
 42  23 mbps     2 non-null      float64
 43  24 mbps     14 non-null     object
 44  25 mbps     580 non-null    object
 45  25,1 mbps   1 non-null      float64
 46  25,11 mbps  1 non-null      float64
 47  25,5 mbps   1 non-null      float64
 48  26 mbps     2 non-null      float64
 49  30 mbps     693 non-null    object
 50  31 mbps     4 non-null      float64
 51  32 mbps     2 non-null      float64
 52  34 mbps     1 non-null      float64
 53  35 mbps     12 non-null     float64
 54  36 mbps     2 non-null      float64
 55  38 mbps     1 non-null      float64
 56  39 mbps     1 non-null      float64
 57  40 mbps     92 non-null     object
 58  41 mbps     1 non-null      float64
 59  45 mbps     3 non-null      float64
 60  46 mbps     1 non-null      float64
 61  49 mbps     1 non-null      float64
 62  50 mbps     645 non-null    object
 63  55 mbps     4 non-null      float64
 64  58 mbps     1 non-null      float64
 65  59 mbps     1 non-null      float64
 66  60 mbps     257 non-null    object
 67  61 mbps     3 non-null      float64
 68  62 mbps     1 non-null      float64
 69  64 mbps     1 non-null      float64
 70  65 mbps     2 non-null      float64
 71  66 mbps     1 non-null      float64
 72  70 mbps     10 non-null     object
 73  75 mbps     227 non-null    object
 74  78 mbps     1 non-null      float64
 75  80 mbps     16 non-null     float64
 76  82 mbps     1 non-null      float64
 77  83 mbps     1 non-null      float64
 78  85 mbps     1 non-null      float64
 79  90 mbps     2 non-null      float64
 80  92 mbps     2 non-null      float64
 81  95 mbps     1 non-null      float64
 82  100 mbps    553 non-null    object
dtypes: float64(50), object(33)
memory usage: 2.0+ MB

### Tiene vacios
Estos vacios ya los había visto de antemano, lo mejor para este caso es reemplazarlo por 0, ya que se cuentan la cantidad consumo para x velocidad de bajada de internet que hay. Al ser vacio significa que no hay y con 0 se representa fácilmente ello.

In [131]:
pd.read_csv("csv_api\Acces_Inter_VelBajada_Localidad.csv").isna().sum()

Provincia        0
Partido          0
Localidad        0
Link Indec       0
Otros         2142
              ...
85 mbps       3097
90 mbps       3096
92 mbps       3096
95 mbps       3097
100 mbps      2545
Length: 83, dtype: int64

In [132]:
pd.read_csv("csv_api\Acces_Inter_VelBajada_Localidad.csv").describe()

,"0,256 mbps","0,375 mbps","0,512 mbps","0,625 mbps","1,25 mbps","2,2 mbps","2,5 mbps","3,3 mbps","4,5 mbps","6,4 mbps",...,65 mbps,66 mbps,78 mbps,80 mbps,82 mbps,83 mbps,85 mbps,90 mbps,92 mbps,95 mbps
count,29.000000,1.0,524.000000,1.0,1.0,1.0,3.000000,1.0,1.0,1.0,...,2.000000,1.0,1.0,16.000000,1.0,1.0,1.0,2.000000,2.000000,1.0
mean,3.379310,225.0,2.173664,111.0,25.0,26.0,59.666667,6.0,65.0,13.0,...,7.000000,1.0,2.0,174.687500,1.0,1.0,14.0,2.000000,1.500000,1.0
std,6.411005,NaN,4.822112,NaN,NaN,NaN,47.648015,NaN,NaN,NaN,...,8.485281,NaN,NaN,300.673182,NaN,NaN,NaN,1.414214,0.707107,NaN
min,1.000000,225.0,1.000000,111.0,25.0,26.0,25.000000,6.0,65.0,13.0,...,1.000000,1.0,2.0,1.000000,1.0,1.0,14.0,1.000000,1.000000,1.0
25%,1.000000,225.0,1.000000,111.0,25.0,26.0,32.500000,6.0,65.0,13.0,...,4.000000,1.0,2.0,7.000000,1.0,1.0,14.0,1.500000,1.250000,1.0
50%,1.000000,225.0,1.000000,111.0,25.0,26.0,40.000000,6.0,65.0,13.0,...,7.000000,1.0,2.0,30.000000,1.0,1.0,14.0,2.000000,1.500000,1.0
75%,3.000000,225.0,1.000000,111.0,25.0,26.0,77.000000,6.0,65.0,13.0,...,10.000000,1.0,2.0,114.750000,1.0,1.0,14.0,2.500000,1.750000,1.0
max,31.000000,225.0,61.000000,111.0,25.0,26.0,114.000000,6.0,65.0,13.0,...,13.000000,1.0,2.0,952.000000,1.0,1.0,14.0,3.000000,2.000000,1.0

In [133]:
#10
pd.read_csv("csv_api\Acces_Inter_Localidades.csv").head(5)

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,--,--,--,--,SI,SI,--,--,--
1,BUENOS AIRES,Bahía Blanca,Villa Espora,--,--,--,--,--,--,--,--,--
2,BUENOS AIRES,Balcarce,Balcarce,SI,SI,SI,SI,SI,SI,SI,SI,--
3,BUENOS AIRES,Balcarce,Los Pinos,--,--,--,--,--,--,SI,SI,--
4,BUENOS AIRES,Balcarce,Napaleofú,--,--,--,SI,SI,SI,SI,SI,--

In [134]:
pd.read_csv("csv_api\Acces_Inter_Localidades.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   ADSL           4312 non-null   object
 4   CABLEMODEM     4312 non-null   object
 5   DIALUP         4312 non-null   object
 6   FIBRAOPTICA    4312 non-null   object
 7   4G             4312 non-null   object
 8   3G             4312 non-null   object
 9   TELEFONIAFIJA  4312 non-null   object
 10  WIRELESS       4312 non-null   object
 11  SATELITAL      4312 non-null   object
dtypes: object(12)
memory usage: 404.4+ KB

In [135]:
pd.read_csv("csv_api\Acces_Inter_Localidades.csv").isna().sum()

Provincia        0
Partido          0
Localidad        0
ADSL             0
CABLEMODEM       0
DIALUP           0
FIBRAOPTICA      0
4G               0
3G               0
TELEFONIAFIJA    0
WIRELESS         0
SATELITAL        0
dtype: int64

In [141]:
pd.read_csv("csv_api\Acces_Inter_Localidades.csv").describe()

,Provincia,Partido,Localidad,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,4G,3G,TELEFONIAFIJA,WIRELESS,SATELITAL
count,4312,4312,4312,4312,4312,4312,4312,4312,4312,4312,4312,4312
unique,24,444,3912,2,2,2,2,2,2,2,2,2
top,BUENOS AIRES,General Roca,San Pedro,--,--,--,--,SI,--,SI,SI,--
freq,901,85,12,3179,3436,3909,2866,2574,2432,2162,2242,3233

##  Necesitan revisión:


- Penet_Inter_PROV_100HOG.csv. (en SQL)
    - Cambiar las "," por "." en la columna "Accesos por cada 100 hogares" para pasarla a float.<br>
<br>

- Penet_Inter_Nac.csv. (en SQL)
    - Cambiar las "," por "." en las columnas "Accesos por cada 100 hogares", "Accesos por cada 100 hab" para pasarlas a float.<br>
<br>

- Acces_Banda_Ancha_Angosta_Nac.csv. 
    - Quitar los "." en "Banda ancha fija","Total". 
    - Por si acaso también reemplazar "," por "." (en SQL).<br>
<br>

- Acces_Banda_Ancha_Angosta_Provincia.csv. 
    - Quitamos los "." en "Banda ancha fija", "Dial up" y "Total". Nos aseguramos de también reemplazar "," por "." en cada uno.
    - Acces_Banda_Ancha_Angosta_Provincia.csv. Ver los vacios en "Dial up" y reemplazarlos por su valor correctos.<br>
<br>

- Acces_Inter_Tec_Nac.csv. 
    - Quitar los "." en "ADSL","Cablemodem","Fibra óptica","Wireless","Otros","Total". 
    - Como en los otros casos reemplazamos "," por "." por si acaso (en SQL).<br>
<br>

- Vel_MedBajada_Nac.csv. (en SQL)
    - Cambiar "," por "." en "Mbps (Media de bajada)"<br>
<br>

- Acces_Inter_Prov_Vel.csv. 
    - Quitar "." en todas las columnas después de la columna "Provincia".
    - Cambiar los nombres de las columnas después de "Provincia" a solamente el rango de valor en Mbps (ej: "Hasta 0.512","0.512-1","1-6",etc).
    - Verificar Vacios en "OTROS" y reemplazarlos por su valor correcto (seguramente lo mejor sea 0).<br>
<br>

- Ingresos_Inter_Fijo.csv. 
    - Quitar los "." en "Ingresos (miles de pesos)". 
    - Por si acaso cambiar "," por "."(en SQL).<br>
<br>

- Acces_Inter_VelBajada_Localidad.csv. 
    - dataset con más vacios, se reemplazan con 0.
    - Verificar si hay que quitar "." o intercambiar "," por ".".(hacer df.info() y df.isna().sum())<br>
<br>

- Acces_Inter_Localidades.csv. 
    - Reemplazar "--" por "NO" (Verificar más adelante si conviene cambiarlo a valores numericos -en la visualización de relaciones-).<br>
<br>

- Conectividad_Localidad.csv. 
    - Vacios en "link".
    - Cambiar "," por "." en "Latitud" y "Longitud" (en SQL).
    - Cambiar "--" por "NO" en "ADSL","CABLEMODEM","DIALUP","FIBRAOPTICA","SATELITAL","WIRELESS","TELEFONIAFIJA","3G","4G"

In [137]:
#11
pd.read_csv("csv_api\Conectividad_Localidad.csv").head(5)

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,SI,6056020.0,"-38,6472605094596","-62,3200223419024"
1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,--,6056020.0,"-38,7765069529222","-62,1851833537179"
2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,SI,6063010.0,"-37,8482779294345","-58,2551665841248"
3,BUENOS AIRES,Balcarce,Los Pinos,337,--,--,--,--,--,SI,SI,--,--,6063020.0,"-37,9412057603","-58,3225920150442"
4,BUENOS AIRES,Balcarce,Napaleofú,374,--,--,--,SI,--,SI,SI,SI,SI,6063030.0,"-37,6254980210026","-58,7461862359423"

In [138]:
pd.read_csv("csv_api\Conectividad_Localidad.csv").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7   FIBRAOPTICA    4312 non-null   object
 8   SATELITAL      4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11  3G             4312 non-null   object
 12  4G             4312 non-null   object
 13  link           4300 non-null   float64
 14  Latitud        4312 non-null   object
 15  Longitud       4312 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 539.1+ KB

### Tiene vacios, hay que verlos y averiguar qué hacer.

In [139]:
pd.read_csv("csv_api\Conectividad_Localidad.csv").isna().sum()

Provincia         0
Partido           0
Localidad         0
Poblacion         0
ADSL              0
CABLEMODEM        0
DIALUP            0
FIBRAOPTICA       0
SATELITAL         0
WIRELESS          0
TELEFONIAFIJA     0
3G                0
4G                0
link             12
Latitud           0
Longitud          0
dtype: int64

In [140]:
pd.read_csv("csv_api\Conectividad_Localidad.csv").describe()

          Poblacion          link
count  4.312000e+03  4.300000e+03
mean   8.693093e+03  3.909872e+07
std    3.821544e+04  2.939305e+07
min    0.000000e+00  2.000010e+06
25%    1.160000e+02  1.009104e+07
50%    5.755000e+02  3.401053e+07
75%    3.202000e+03  6.612602e+07
max    1.317298e+06  9.401402e+07

Con este analisis rápido de todos los dataframes puedo asegurar:
- Hay pocos vacios que tratar, el único dataset con muchos es porque "no se tienen" asi que se reemplaza por 0.
- Todos los datasets que tienen años contemplan el mismo rango (2014-2022)
- Los datos estan muy completos y ordenados (de esperar en una API de ENACOM, pero nunca se sabe)

Se arregla lo del úlimo dataset (que da la conectividad por localidades) cambiando los vacios por el mismo valor nulo que tiene este dataset, el cual es el string "--"

In [176]:
Conect_local=pd.read_csv("csv_api\Conectividad_Localidad.csv")

In [148]:
Conect_local[Conect_local['link']==' ']

Empty DataFrame
Columns: [Provincia, Partido, Localidad, Poblacion, ADSL, CABLEMODEM, DIALUP, FIBRAOPTICA, SATELITAL, WIRELESS, TELEFONIAFIJA, 3G, 4G, link, Latitud, Longitud]
Index: []

In [172]:
Conect_local['link'][Conect_local['link'].isna()==True]='--'

C:\Users\lasso\AppData\Local\Temp\ipykernel_9904\3248476656.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Conect_local['link'][Conect_local['link'].isna()==True]='--'

In [173]:
Conect_local.isna().sum()

Provincia        0
Partido          0
Localidad        0
Poblacion        0
ADSL             0
CABLEMODEM       0
DIALUP           0
FIBRAOPTICA      0
SATELITAL        0
WIRELESS         0
TELEFONIAFIJA    0
3G               0
4G               0
link             0
Latitud          0
Longitud         0
dtype: int64

In [177]:
Conect_local

,Unnamed: 0,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,0,BUENOS AIRES,Bahía Blanca,Villa Bordeau,0,--,--,--,--,--,--,--,SI,SI,6056020.0,"-38,6472605094596","-62,3200223419024"
1,1,BUENOS AIRES,Bahía Blanca,Villa Espora,0,--,--,--,--,--,--,--,--,--,6056020.0,"-38,7765069529222","-62,1851833537179"
2,2,BUENOS AIRES,Balcarce,Balcarce,38376,SI,SI,SI,SI,--,SI,SI,SI,SI,6063010.0,"-37,8482779294345","-58,2551665841248"
3,3,BUENOS AIRES,Balcarce,Los Pinos,337,--,--,--,--,--,SI,SI,--,--,6063020.0,"-37,9412057603","-58,3225920150442"
4,4,BUENOS AIRES,Balcarce,Napaleofú,374,--,--,--,SI,--,SI,SI,SI,SI,6063030.0,"-37,6254980210026","-58,7461862359423"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,4307,CHACO,Quitilipi,Quitilipi,24517,SI,--,--,SI,--,SI,SI,SI,SI,22133010.0,"-26,8732071732978","-60,2185241226399"
4308,4308,CHACO,Quitilipi,Villa El Palmar,879,--,--,--,--,--,SI,--,--,SI,22133020.0,"-26,4551186226266","-60,1646165913523"
4309,4309,CHACO,San Fernando,Barranqueras,54698,SI,SI,--,SI,--,SI,SI,SI,SI,22140010.0,"-27,4877739289761","-58,9327416886365"
4310,4310,CHACO,San Fernando,Basail,1929,SI,SI,--,--,SI,SI,SI,SI,SI,22140020.0,"-27,8868655966917","-59,2791003619491"
4311,4311,CHACO,San Fernando,Colonia Baranda,336,--,--,--,--,--,--,--,SI,SI,22140030.0,"-27,5620449432874","-59,3096911774268"

In [180]:
Conect_local.to_csv("csv_api\Conectividad_Localidad.csv",index=False)

Se arregla el dataset con mayores vacios, el cual cuenta los consumos de velocidades de internet por áreas